Bonjour Mr/Mme {{ user.nom }} {{ user.prenom }}, <br><br>
Il y'a eu des modifications dans le Trajet du {{ trajet.date|date('d - F - Y') }}. <br>
Pour plus d'information visitez <a href="http://localhost{{ path('Covoiturage') }}">ce lien</a>. <br> <br>
Bonne Journée/Soirée.