{% extends "@Admin/admin.html.twig" %}
{% block  content %}
    <div class="container well" style="margin-top: 50px">
        <form id="addForm" method="POST">
            <fieldset>
                <legend style="text-align: center; font-size: 36px; height: 10%; margin-bottom: 2%">Ajout Projet
                </legend>
            </fieldset>
            <div class="form-group">
                <input type="text" name="nom" class="form-control input-lg" placeholder="Nom">
            </div>
            <div class="form-group">
                <textarea class="form-control input-lg no-resize" name="desc" rows="6"
                          placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <input name="dated" id="dated" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control input-lg" placeholder="Date Début">
            </div>
            <div class="form-group">
                <input name="datef" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control input-lg" placeholder="Date Fin">
            </div>
            <div class="form-group">
                <select name="chef" class="form-control input-lg" placeholder="Chef Projet">
                    <optgroup label="Chef de Projet">
                        {% for chef in chefs %}
                            <option value="{{ chef.id }}">{{ chef.nom }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            <fieldset>
                <legend style="text-align: center; font-size: 36px; height: 10%; margin-bottom: 2%">Ajout Equipe
                </legend>
            </fieldset>
            <div class="form-group">
                <input name="equipe" type="text"   class="form-control input-lg" placeholder="Nom Equipe">
            </div>
            <div style="text-align: center; word-spacing: 16px;">
                <input type="submit" style="border-radius: 0px; font-size: 15px; padding: 8px 12px;"
                       class="btn btn-primary" value="Ajouter">
                <button class="btn btn-danger" onclick="location.href='{{ path('Projets') }}'" style="border-radius: 0px; font-size: 15px; padding: 8px 12px;">Annuler
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
    <script src="{{ asset('js/ajout-projet-validation.js') }}"></script>
{% endblock %}