{% extends "@Admin/admin.html.twig" %}
{% block  content %}
    <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>{# empty Twig template #}
{% endblock %}

{% block js %}
    <script src="{{ asset('js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/highcharts.js') }}"></script>
    <script src="{{ asset('js/exporting.js') }}"></script>
    <script type="text/javascript"> {{ chart(chart) }} </script>
{% endblock %}