<li id="Nonvu" class="dropdown messages-menu" onclick="loadChatbox()" data-nonvu="{{ NonvuMessageUrl }}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="livicon" data-name="message-flag" data-loop="true" data-color="#42aaca" data-hovercolor="#42aaca" data-size="28"></i>
        <span id="nonlu" class="label label-success"></span>
    </a>
</li>